* { 
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(21, 20, 20);
}

nav { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 100px;
}

.title {
    font-family: sans-serif;
    font-size: 45px;
    height: 60px;
    align-items: center;
    color: rgba(250, 242, 238, 0.886);
    margin-left: 30px;
    font-style: italic;
}

header {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

span { 
    color: rgba(250, 242, 238, 0.886);
    font-size: 18px;
    font-family: sans-serif;
    font-style: italic;

}
section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 65px;
    border-bottom: 2px solid snow;
    width: 65%;
    margin: auto;
}

.score-board { 
    color: rgba(250, 242, 238, 0.886);
    margin: 15px;
    font-size: 40px;
    margin-bottom: 25px;
    
}

.dealer-state {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 65%;
    margin: auto;
}

.dealer-state > h1{
    color: rgba(250, 242, 238, 0.886);
    height: 160px;

}

#dealer {
    margin-top: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    margin: auto;
}

.card-container { 
    border: 1px dashed rgb(214, 214, 214);
    height: 210px;
    width: 160px;
    margin-top: 10px;
    margin-left: 55px;
    border-radius: 10%;
}
/* button ids */
#hit {
    color: rgba(250, 242, 238, 0.886);
    height: 60px;
    width: 260px;
    margin-bottom: 80px;
    margin-right: 120px;
    border: 1px solid;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#stand { 
    color: rgba(250, 242, 238, 0.886);
    height: 60px;
    width: 260px;
    margin-bottom: 80px;
    margin-right: 120px;
    border: 1px solid;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#reset {
    color: rgba(250, 242, 238, 0.886);
    height: 60px;
    width: 260px;
    border: 1px solid;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 30px;
}